#header {
  position: fixed;
  width: 100%;
  z-index: 200;
}

#header.colorzilla {
  background: grey !important;
  opacity: 0.5;
}

#header .top-header {
  padding: 15px;
  width: 100%;
  background-color: #1A2B48;
}

#header .top-header .mainDropdown .dropmenu {
  background-color: #1A2B48;
  padding-right: 30px;
}

#header .top-header .mainDropdown:hover .dropmenu {
  display: block;
}

#header .top-header .mainDropdown:hover .dropmenu li {
  color: white;
}

#header .top-header .sosial-icons i {
  color: aliceblue;
  padding: 8px;
}

#header .top-header .sosial-icons a {
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  padding-top: 2px;
}

#header .top-header .text-header li {
  padding-right: 20px;
}

#header .top-header .text-header li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
}

#header .top-header .text-header li a:hover {
  text-decoration: underline;
}

#header .top-header .text-header li i {
  padding-left: 8px;
}

#header .navbar {
  -webkit-transition: .4s linear;
  transition: .4s linear;
  cursor: pointer;
  z-index: 100;
  padding: 20px;
}

#header .navbar.colorzilla {
  background: black;
  opacity: 0.8;
}

#header .navbar .mainDropdown:hover .pages-text {
  display: block;
}

#header .navbar .mainDropdown li {
  padding: 10px;
  color: #6E7C85;
}

#header .navbar .mainDropdown li:hover {
  color: #5191FA;
}

#header .navbar .all-text {
  position: relative;
}

#header .navbar .all-text li {
  font-weight: 600;
}

#header .navbar .all-text .bigDropped:hover .mainbigDropdown {
  border-radius: 15px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

#header .navbar .all-text .bigDropped .mainbigDropdown {
  opacity: 0;
  padding: 70px;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: white;
  color: #000;
  z-index: 10;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#header .navbar .all-text .bigDropped .mainbigDropdown ul {
  list-style: none;
}

#header .navbar .all-text .bigDropped .mainbigDropdown ul li {
  border-bottom: 1px solid black;
  padding-top: 10px;
  color: #8D979E;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header .navbar .all-text .bigDropped .mainbigDropdown ul li:hover {
  color: #5192FA;
}

#header .navbar .all-text li {
  padding-right: 15px;
}

#header .navbar .all-text li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding-left: 20px;
}

#header .navbar .all-text li a:hover {
  color: #5192FA;
}

#header .navbar .local i {
  color: white;
  padding-right: 15px;
  font-size: 30px;
}

#header .navbar .local .button1 {
  font-size: 17px;
  background-color: #FA5636;
}

#header .navbar .local .button1:hover {
  background-color: #D3482E;
}

#section1 {
  width: 100%;
  height: 400px;
  background-image: url(../image/headerback.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section1 .hi-there {
  position: absolute;
  padding-top: 180px;
}

#section1 .hi-there h1 {
  font-weight: 500;
  font-size: 54px;
  color: #FFF;
}

#section1 .hi-there p {
  padding-top: 7px;
  font-size: 18px;
  color: #FFF;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}

#section {
  margin-bottom: 50px;
}

#section h1 {
  font-size: 28px;
  color: #5191FA;
  margin: .5em;
}

#section p {
  font-size: 18px;
  color: #768092;
  line-height: 24px;
}

.Statistika .statikItem {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border: 5px solid #5191FA;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.Statistika .statikItem .StatikBox {
  padding: 45px 0;
}

.Statistika .statikItem .desc {
  display: none;
}

.Statistika .statikItem:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #5191FA;
  color: white;
  overflow: hidden;
}

.Statistika .statikItem:hover .StatikBox {
  display: none;
}

.Statistika .statikItem:hover .desc {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: block;
  text-align: center;
  font-size: 14px;
  color: white;
}

#message p {
  font-size: 20px;
  color: #1A2B48;
  text-align: center;
  font-weight: 300;
  margin: 50px;
}

#message .messagePeople {
  margin: auto;
  text-align: center;
}

#message .messagePeople img {
  width: 40%;
}

#message .messagePeople h4 {
  font-size: 14px;
  color: #1A2B48;
}

#message .messagePeople h5 {
  font-size: 14px;
  color: #768092;
}

.clear {
  clear: both;
}

#SectionSlider .mySlider {
  overflow: hidden;
  height: 400px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

#SectionSlider .mySlider .slick-next {
  right: 25px;
  background-color: #1A2B48;
  opacity: .8;
  height: 50px;
}

#SectionSlider .mySlider .slick-prev {
  left: 35px;
  z-index: 5;
}

#SectionSlider .infoSLider h4 {
  text-align: center;
  font-size: 48px;
  color: #FFF;
  font-weight: 700;
  margin-bottom: 30px;
}

#leaderShip {
  text-align: center;
}

#leaderShip .teamHover .teamSosial {
  opacity: 0;
}

#leaderShip .teamHover .teamSosial:hover {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100px;
  font-size: 25px;
  background-color: #000;
  opacity: .8;
}

#leaderShip h1 {
  font-size: 28px;
  color: #1A2B48;
  margin-bottom: 20px;
}

#leaderShip .LeaderTeam h2 {
  font-size: 20px;
  color: #1A2B48;
  font-weight: 500;
}

#leaderShip .LeaderTeam h3 {
  font-size: 18px;
  color: #768092;
  font-style: italic;
  padding-bottom: 40px;
}

#subscribeBar {
  padding-top: 65px;
  padding-bottom: 40px;
  background: #F5F5F5;
}

#subscribeBar .subscribeTitle h1 {
  font-size: 24px;
}

#subscribeBar .subscribeTitle h3 {
  font-size: 16px;
  color: #5E6D77;
}

#subscribeBar .subscribeInput .form-control {
  border-radius: 4px;
}

#subscribeBar .subscribeInput input {
  height: 55px;
}
/*# sourceMappingURL=style.css.map */